div.top-container {
    top: 250px;
    position: relative;
    text-align: center;
}

body, html {
    font-family: 'Montserrat', normal;
    height: 100%;
}

.bgstyle {
    background-image: url("image/IMG_BACK_2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(21, 169, 149);
    font-family: 'Sacramento', cursive;
    font-size: 120px;
    margin: 5px;
}

h5 {
    color: rgb(21, 169, 149);
    font-family: 'Merriweather', normal;
    font-size: 30px;
    margin: 5px;
    letter-spacing: 2px;
}


/* unique css command: navigation bar */

.ulnavi ul{
    list-style-type: none;
    overflow: hidden;
    position: absolute;
}

.ulnavi ul li {
    float: left;
}

.ulnavi ul li a {
    display: block;
    border-radius: 100px;
    border: 5
    px;
    color: rgb(210, 210, 210);
    opacity: 0.6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ulnavi ul li a:hover {
    /* color: rgb(255, 255, 255); */
    opacity: 1;
    /* background-color: rgb(255, 255, 255); */
}

/* end navigation bar */

.roundcorner {
    border-radius: 50px;
    padding: 20px;
}